html {
    scroll-behavior: smooth;
  }

:root {
    --yellow: #F7CB4E;
}

.customPurple {
    color: #29285A;
}

.DM {
    font-family: 'DM Sans';
}

.Sora {
    font-family: 'Sora';
}

.subTitulo-cinza {
    color:#8E8E8E;
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
}

.botao {
    background-color: transparent;
    border: 1px solid #204FEC;
    border-radius: 50px;
    color: #204FEC;
}



.botao:hover {
    background-color: #204FEC;
    color: #fff;
}

.title {
    font-weight: 600;
    font-family: 'Sora';
}

