@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/custom.css';

@layer utilities {
    .h1Headline {
        font-size: 110px;
        font-weight: 600;
        font-family: 'Sora';
    }
    
    .h2Headline {
        font-size: 85px;
        font-weight: 600;
        font-family: 'Sora';
    }
    
    .h3Headline {
        font-size: 60px;
        font-weight: 600;
        font-family: 'Sora';
    }
    
    .h4Headline {
        font-size: 48px;
        font-weight: 600;
        font-family: 'Sora';
    }
    
    .h5Headline {
        font-size: 27px;
        font-weight: 600;
        font-family: 'Sora'; 
    }
    
    .h6Headline {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Sora';
    }
    
    .subtitle1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'DM Sans';
    }
    
    .subtitle2{
        font-size: 22px;
        font-weight: 400;
        font-family: 'DM Sans';
    }
    
    .body1{
        font-size: 24px;
        font-weight: 400;
        font-family: 'DM Sans';
    }
    
    .body2{
        font-size: 20px;
        font-weight: 400;
        font-family: 'DM Sans';
    }
    
    .body1{
        font-size: 16px;
        font-weight: 400;
        font-family: 'DM Sans';
    }
}

